{#
/**
 * @file
 * Default template for feed displays that use the iCal style.
 * IMPORTANT: For iCal compliance this template contains Windows line endings
 *
 * Available variables:
 * - title
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 *
 * @see template_preprocess_views_view_ical()
 *
 * @ingroup themeable
 */
#}
{{ ical }}
