{#
/**
 * @file
 * Default template for feed displays that use the iCal style.
 * IMPORTANT: For iCal compliance this template contains Windows line endings
 *
 * Available variables:
 * - title
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 *
 * @see template_preprocess_views_view_ical()
 *
 * @ingroup themeable
 */
#}BEGIN:VCALENDAR{{ "\r\n" }}VERSION:2.0{{ "\r\n" }}METHOD:PUBLISH{{ "\r\n" }}X-WR-CALNAME;VALUE=TEXT:{% if title %}{{ title }}{% endif %}{{ "\r\n" }}PRODID:-//Drupal iCal API//EN{{ "\r\n" }}{% for row in rows %}{{ row.content }}{% endfor %}END:VCALENDAR{{ "\r\n" }}{# skip line ending #}